<style>
.video-container {
    position:relative;
    /*padding-bottom:56.25%;*/
    padding-bottom:59%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
</style>

<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" style="background-color: transparent;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#first"> zuitch</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#one">Inicio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#two">Informacion</a>
                </li>
                <li>
                    <a class="page-scroll" href="#three">Galeria</a>
                </li>
                <li>
                    <a class="page-scroll" href="#four">Que Encontrar</a>
                </li>
                <li>
                    <a class="page-scroll" href="#last">Contacto</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                <% if user_signed_in? %>
                    <a rel="nofollow" data-method="delete" href="/users/sign_out" data-placement="top" title="Logout">Log Out</a>
                <% else %>
                    <a class="page-scroll" href="/users/sign_in">LogIn</a>
                <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="first">
    <div class="header-content">
        <div class="inner">
            <h1 class="">zuitch</h1>
            <h4>Un lugar para conectar en conocimiento.</h4>
            <hr>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <label></label>
                    <input style="height: 50px;" type="text" class="form-control" placeholder="Tema/Nombre">
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a  class="btn btn-primary btn-block btn-lg page-scroll" href="#talkers">Buscar</a>
                    
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <!-- <a href="#video-background" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Toggle Video</a>  -->
            <!-- <a href="#one" class="btn btn-primary btn-xl page-scroll">Get Started</a> -->
            
        </div>
    </div>
    <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
        <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
</header>
<section class="bg-primary" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Lorem Ipsum</h2>
                <br>
                <p class="text-faded">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quas veniam sed totam esse quaerat, quia possimus aspernatur nesciunt dolorem voluptatibus ipsum saepe necessitatibus vero praesentium laborum harum natus animi!
                </p>
                <a href="#three" class="btn btn-default btn-xl page-scroll">Conocer Mas</a>
            </div>
        </div>
    </div>
</section>
<section id="talkers" class="no-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel black">
          <div class="x_content">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <br><br>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Ingeniero Bioquimico</i></h4>
                    <div class="left col-xs-7">
                      <h2>Fidel Flores</h2>
                      <p><strong>Aptitudes: </strong> Quimica / Nanotecnologia / Energia</p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/profile.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a  class="btn btn-primary btn-xs dark" href="/talkers/show">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Digital Strategist</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lorem Ipsum</h2>
                      <p><strong>Aptitudes: </strong> Web Designer / UI. </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Direccion: </li>
                        <li><i class="fa fa-phone"></i> Telefono #: </li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <p class="ratings">
                        <a>4.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star-o"></span></a>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i> </button>
                      <a class="btn btn-primary btn-xs dark">
                        <i class="fa fa-user"> </i> Ver Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="bg-primary" id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Lorem Ipsum</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <i class="icon-lg ion-android-laptop wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>Lorem</h3>
                    <p class="text-muted">Dolorum numquam mollitia, modi, voluptas est nam? Sed, obcaecati fuga aliquam quasi laborum amet, non minima.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <i class="icon-lg ion-arrow-graph-up-right wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>Ipsum</h3>
                    <p class="text-muted">Dolorum numquam mollitia, modi, voluptas est nam? Sed, obcaecati fuga aliquam quasi laborum amet, non minima.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>Dolore</h3>
                    <p class="text-muted">Dolorum numquam mollitia, modi, voluptas est nam? Sed, obcaecati fuga aliquam quasi laborum amet, non minima.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="three" class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="video-container">
                    <iframe  src="https://www.youtube.com/embed/CDsNZJTWw0w" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/w2itwFJCgFQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/MIA_1xQc7x8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/rToBZSrxjgM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/2t13Rq4oc7A" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/o8NPllzkFhE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="four">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary">¿Que encontraras aqui?</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Conferencias</h3>
                <div class="media-body media-middle">
                    <p>What could be easier? Get started fast with this landing page starter theme.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-bolt-outline"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Temas</h3>
                <div class="media-left">
                    <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i class="icon-lg ion-ios-cloud-download-outline"></i></a>
                </div>
                <div class="media-body media-middle">
                    <p>Yes, please. Grab it for yourself, and make something awesome with this.</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Patrocinio</h3>
                <div class="media-body media-middle">
                    <p>Because you don't want your Bootstrap site, to look like a Bootstrap site.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-snowy"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Difusion</h3>
                <div class="media-left">
                    <i class="icon-lg ion-ios-heart-outline"></i>
                </div>
                <div class="media-body media-middle">
                    <p>There's good reason why Bootstrap is the most used frontend framework in the world.</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Conectar</h3>
                <div class="media-body media-middle">
                    <p>Bootstrap is matured and well-tested. It's a stable codebase that provides consistency.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-flask-outline"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="text-primary">Empieza Ya!</h2>
            <a href="http://www.i2d.in" target="ext" class="btn btn-default btn-lg wow flipInX">Buscar</a>
        </div>
        <br>
        <hr/>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <h6 class="wide-space text-center">Puedes empezar con alguno de los siguiente temas.</h6>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-network" title="sass"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<section id="last">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="margin-top-0 wow fadeIn">Contacto</h2>
                <hr class="primary">
                <p>Te agradeceriamos un poco de feedback, llena la sig forma y nos pondremos en contacto.</p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <form class="contact-form row">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Telefono">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="Mensaje.."></textarea>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label></label>
                        <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Enviar <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="landing-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 column">
                <h4>Informacion</h4>
                <ul class="list-unstyled">
                    <li><a href="">Ipsum</a></li>
                    <li><a href="">Ipsum</a></li>
                    <li><a href="">Ipsum</a></li>
                    <li><a href="">Ipsum</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>Acerca de</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Ipsum</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 column">
                <h4>Stay Posted</h4>
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <h4>Siguenos</h4>
                <ul class="list-inline">
                  <li><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter"></i></a>&nbsp;</li>
                  <li><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook"></i></a>&nbsp;</li>
                  <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <br/>
        <span class="pull-right text-muted small"><a href="http://www.i2d.in">Zuitch by cienciando team</a> ©2016</span>
    </div>
</footer>
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
            <p>
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
            </p>
        </div>
    </div>
    </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="text-center">Landing Zero Theme</h2>
            <h5 class="text-center">
                A free, responsive landing page theme built by BootstrapZero.
            </h5>
            <p class="text-justify">
                This is a single-page Bootstrap template with a sleek dark/grey color scheme, accent color and smooth scrolling.
                There are vertical content sections with subtle animations that are activated when scrolled into view using the jQuery WOW plugin. There is also a gallery with modals
                that work nicely to showcase your work portfolio. Other features include a contact form, email subscribe form, multi-column footer. Uses Questrial Google Font and Ionicons.
            </p>
            <p class="text-center"><a href="http://www.i2d.in">Download at BootstrapZero</a></p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        </div>
    </div>
    </div>
</div>
<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="text-center">Nice Job!</h2>
            <p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
            <p class="text-center"><a href="http://www.i2d.in">Learn more at BootstrapZero</a></p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
        </div>
    </div>
    </div>
</div>
