<div class="header-wrapper header-wrapper-home" style="height: 652px;">
    
    <!-- ******HEADER****** -->
    <header id="header" class="header navbar-fixed-top header-shrink">
        <div class="container">
            <h1 class="logo">
            <a href="/"><img src="/static/img/header-clubes.png" class="img-responsive" style="margin-top: 2px" alt="" width="45px" height="45px"></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            
                            
                            
                            <li class="nav-item active">
                                <a href="/inicio">Inicio</a>
                            </li>
                            
                            
                            
                            
                            <li class="nav-item dropdown ">
                                <a href="/info" data-hover="dropdown" data-delay="0" data-close-others="false" data-toggle="dropdown" class="dropdown-toggle">Info <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    
                                    
                                    
                                    <li>
                                        <a href="/info/equipo">Equipo</a>
                                    </li>
                                    
                                    
                                    
                                    
                                    <li>
                                        <a href="/info/instructores">Instructores</a>
                                    </li>
                                    
                                    
                                    
                                    
                                    <li>
                                        <a href="/info/estudiantes">Estudiantes</a>
                                    </li>
                                    
                                    
                                    
                                    
                                    <li>
                                        <a href="/info/faq-preguntas">FAQ / preguntas</a>
                                    </li>
                                    
                                    
                                    
                                    
                                    <li>
                                        <a href="/info/clubes-16">Clubes '16</a>
                                    </li>
                                    
                                    
                                    
                                    
                                    <li>
                                        <a href="/info/en-los-medios">En los medios</a>
                                    </li>
                                    
                                    
                                </ul>
                                </li><!--//dropdown-->
                                
                                
                                
                                
                                <li class="nav-item dropdown ">
                                    <a href="/ediciones-pasadas" data-hover="dropdown" data-delay="0" data-close-others="false" data-toggle="dropdown" class="dropdown-toggle">Ediciones pasadas <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        
                                        
                                        
                                        <li>
                                            <a href="/ediciones-pasadas/verano-15">Verano '15</a>
                                        </li>
                                        
                                        
                                        
                                        
                                        <li>
                                            <a href="/ediciones-pasadas/invierno-15">Invierno '15</a>
                                        </li>
                                        
                                        
                                        
                                        
                                        <li>
                                            <a href="/ediciones-pasadas/verano-14">Verano '14</a>
                                        </li>
                                        
                                        
                                        
                                        
                                        <li>
                                            <a href="/ediciones-pasadas/invierno-14">Invierno '14</a>
                                        </li>
                                        
                                        
                                    </ul>
                                    </li><!--//dropdown-->
                                    
                                    
                                    
                                    
                                    <li class="nav-item last"><a href="#" class="animated shake" style="text-decoration: underline" data-toggle="modal" data-target="#modalConvocatoriaStudents"><b>¡Convocatoria para estudiantes abierta!</b></a></li>
                                    
                                    <li class="nav-item last">
                                        <a href="" class="lang_web" data-lang="en">
                                            ENGLISH
                                        </a></li>
                                        <li class="nav-item last">
                                            <a href="" data-toggle="modal" data-target="#modalFeedback"><i class="fa fa-comments" style="font-size: 17px"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item last"><a href="/security/login/">Login</a></li>
                                        
                                        </ul><!--//nav-->
                                        </div><!--//navabr-collapse-->
                                        </nav><!--//main-nav-->
                                        </div><!--//container-->
                                        </header><!--//header-->
                                        <form action="/i18n/setlang/" method="post" id="frmLang">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="8UTAqzROXaqHSdIXQJx2yXjKMvbr7miZ">
                                            <input type="hidden" name="language" value="">
                                        </form>
                                        <div class="bg-slider-wrapper" style="z-index: -10">
                                            <div id="bg-slider" class="flexslider bg-slider">
                                                <ul class="slides">
                                                    <li class="slide slide-1 flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"></li>
                                                    <li class="slide slide-2" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"></li>
                                                    <li class="slide slide-3" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <section id="home-promo2" class="home-promo section" style="">
                                            <div class="container text-center" style="padding-top:80px ">
                                                <img src="/static/img/logo10241024.png" alt="" style="display: block;margin: auto" height="150px" width="210px">
                                                <br>
                                                <a href="#videos" class="btn btn-cta btn-cta-primary text-center" data-backdrop="static">Conoce más
                                                </a>
                                            </div>
                                            <!--//container-->
                                        </section>
                                        <section id="home-promo" class="home-promo section" style="background: url(/static/assets/videobg.png);" data-vide-bg="http://clubesdeciencia.mx/static/video/small_video" data-vide-options="position: 0% 50%"><div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-image: none; background-color: transparent; background-size: cover; background-position: 0% 50%; background-repeat: no-repeat;"><video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 0%; transform: translate(0%, -50%); visibility: visible; opacity: 1; width: 1160px; height: auto;"><source src="http://clubesdeciencia.mx/static/video/small_video.mp4" type="video/mp4"><source src="http://clubesdeciencia.mx/static/video/small_video.webm" type="video/webm"><source src="http://clubesdeciencia.mx/static/video/small_video.ogv" type="video/ogg"></video></div>
                                        <div class="container text-center" style="padding-top: 60px">
                                            <img src="/static/img/logo10241024.png" alt="" style="display: block;margin: auto" height="250px" width="300px">
                                            <br>
                                            <a href="#videos" class="btn btn-cta btn-cta-primary text-center" data-backdrop="static">Conoce más
                                            </a>
                                        </div>
                                        <!--//container-->
                                    </section>
                                    </div><!--//header-wrapper-->
                                    <!--//header-wrapper-->
                                    <!-- ******Misiion Section****** -->
                                    <section id="who" class="who section" style="padding-top:60px;padding-bottom: 10px">
                                        <div class="container-fluid">
                                            <h2 class="title text-center">Misión</h2>
                                            <div class="col-xs-12">
                                                <p class="intro mision-text text-center">Expandir el acceso a educación científica de la más alta calidad a jóvenes e inspirar y “mentorear” a la próxima generación de innovadores mexicanos mediante la creación de redes de talentos en ciencia.</p>
                                            </div>
                                        </div>
                                        <!--//container-->
                                    </section>
                                    <!--//mision-section-->
                                    <hr>
                                    <!-- ******iam Section****** -->
                                    <section id="cta-section" class="who section" style="">
                                        <div class="container text-center">
                                            <h2 class="title text-center">¿Qué hace CdeCMx?</h2>
                                            <p class="intro text-center" style="color: white;">
                                                
                                            </p>
                                            <div class="row benefits text-center">
                                                <div class="item col-md-4 col-sm-6 col-xs-12 sm-break">
                                                    <div class="item-inner">
                                                        <img src="/static/img/gif/azul.gif" class="img-center img-responsive" alt="" width="200px" height="200px">
                                                        <h3 class="sub-title">Compartimos ciencia con jóvenes</h3>
                                                        
                                                        
                                                        
                                                    </div>
                                                    <!--//item-inner-->
                                                </div>
                                                <!--//item-->
                                                <div class="item col-md-4 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <img src="/static/img/gif/redesgif.gif" class="img-center img-responsive" alt="" width="200px" height="200px">
                                                        <h3 class="sub-title">Creamos comunidades y conexiones entre estudiantes e instructores.</h3>
                                                    </div>
                                                    <!--//item-inner-->
                                                </div>
                                                <!--//item-->
                                                <!--//item-->
                                                <div class="item col-md-4 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <img src="/static/img/gif/verde.gif" class="img-center img-responsive" alt="" width="200px" height="200px">
                                                        <h3 class="sub-title">Diseñamos y compartimos cursos en línea</h3>
                                                        
                                                        
                                                        
                                                    </div>
                                                    <!--//item-inner-->
                                                </div>
                                            </div>
                                            <!--//row-->
                                        </div>
                                        <!--//container-->
                                    </section>
                                    <!--//who-->
                                    <!-- ******Stats Section****** -->
                                    <section id="cta-section" class="section latest-work text-center" style="padding-top:30px;padding-bottom:30px;">
                                        <div class="container-fluid" style="padding: 0">
                                            <h2 class="title text-center">Estadísticas</h2>
                                            <div class="col-sm-3 col-xs-6" style="height: 250px;background: rgb(21,166,159);color:white">
                                                <p class="text-center " style="font-size: 100px">
                                                    <span class="timer data" data-from="0" data-to="6" data-speed="2000" data-refresh-interval="50">6</span>
                                                </p>
                                                <p style="font-size: 30px" class="text-data">Sedes</p>
                                            </div>
                                            <div class="col-sm-3 col-xs-6" style="height: 250px;background: rgb(0,128,106);color:white">
                                                <p class="text-center" style="font-size: 100px">
                                                    <span class="timer data" data-from="0" data-to="115" data-speed="2000" data-refresh-interval="50">115</span>
                                                </p>
                                                <p style="font-size: 30px" class="text-data">Clubes</p>
                                            </div>
                                            <div class="col-sm-3 col-xs-6" style="height: 250px;background: rgb(252,130,71);color:white">
                                                <p class="text-center" style="font-size: 100px">
                                                    <span class="timer data data_students" data-from="0" data-to="1752" data-speed="2000" data-refresh-interval="50">1752</span>
                                                </p>
                                                <p style="font-size:30px" class="text-data">Estudiantes</p>
                                            </div>
                                            <div class="col-sm-3 col-xs-6" style="height: 250px;background: #626262;color:white">
                                                <p class="text-center" style="font-size: 100px">
                                                    <span class="timer data" data-from="0" data-to="203" data-speed="2000" data-refresh-interval="50">203</span>
                                                </p>
                                                <p style="font-size:30px" class="text-data">Instructores</p>
                                            </div>
                                        </div>
                                        <!--//container-->
                                    </section>
                                    <!--//cta-section-->
                                    <!-- ******Latest work section****** -->
                                    <section id="latest-work" class="latest-work section">
                                        <hr>
                                        <div class="container text-center">
                                            <h2 class="title text-center">¿En donde nos puedes encontrar? </h2>
                                            <div class="swiper-container swiper-container-horizontal">
                                                <div class="swiper-wrapper" style="transform: translate3d(-1880px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide carousel-img parallax-bg swiper-slide-duplicate" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/xalapa2.jpg&quot;);" data-swiper-slide-index="5">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(-100px, 0px, 0px); transition-duration: 0ms;">Xalapa</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(-300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg swiper-slide-prev" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/merida-mexico-wallpaper-house-wallpapers.jpg&quot;);" data-swiper-slide-index="0">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(-100px, 0px, 0px); transition-duration: 0ms;">Mérida</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(-300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg swiper-slide-active" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/oaxaca_S2SQDEV.jpg&quot;);" data-swiper-slide-index="1">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">Oaxaca</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg swiper-slide-next" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/guanajuato-panorama.jpg&quot;);" data-swiper-slide-index="2">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">Guanajuato</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/ensenada-mexico.jpg&quot;);" data-swiper-slide-index="3">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">Ensenada</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/monterrey_uNz3FHt.jpg&quot;);" data-swiper-slide-index="4">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">Monterrey</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/xalapa2.jpg&quot;);" data-swiper-slide-index="5">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">Xalapa</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="swiper-slide carousel-img parallax-bg swiper-slide-duplicate" data-swiper-parallax="-23%" style="width: 940px; transition-duration: 0ms; background: url(&quot;/media/sede/image/merida-mexico-wallpaper-house-wallpapers.jpg&quot;);" data-swiper-slide-index="0">
                                                    <div class="overlay-carousel">
                                                        <div class="titleSlide text-left" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">Mérida</div>
                                                        <div class="text" data-swiper-parallax="-300" style="transform: translate3d(300px, 0px, 0px); transition-duration: 0ms;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div></div>
                                                <!-- Add Pagination -->
                                                <div class="swiper-pagination swiper-pagination-white swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                                                <!-- Add Navigation -->
                                                <div class="swiper-button-prev swiper-button-white"></div>
                                                <div class="swiper-button-next swiper-button-white"></div>
                                            </div>
                                            <!--//owl-carousel-->
                                        </div>
                                        <!--container-fluid-->
                                    </section>
                                    <!--//latest-work-->
                                    <hr>
                                    <!-- ******Testimonials Section****** -->
                                    <section id="videos" class="videos latest-work section visible-xs">
                                        <div class="container">
                                            <h2 class="title text-center">¡Nuestro programa de ciencias en acción!</h2>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12 col-centered" style="margin-top: 10px">
                                                    <a href="https://www.youtube-nocookie.com/embed/i85W3KPvNLo&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video1Clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                                <div class="col-md-6 col-xs-12 col-centered" style="margin-top: 10px">
                                                    <a href="https://www.youtube-nocookie.com/embed/mfBt6wWfyX0?rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video2clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12 col-centered" style="margin-top: 10px">
                                                    <a href="https://www.youtube-nocookie.com/embed/Xe0PeCS-DJI?rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video3clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                                <div class="col-md-6 col-xs-12 col-centered" style="margin-top: 10px">
                                                    <a href="https://www.youtube-nocookie.com/embed/t3NodjXZduY?rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video4clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//container-->
                                    </section>
                                    <!--//testimonials-->
                                    <!-- ******Testimonials Section****** -->
                                    <section id="videos" class="videos latest-work section hidden-xs">
                                        <div class="container">
                                            <h2 class="title text-center">¡Nuestro programa de ciencias en acción!</h2>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12" style="margin-top: 10px">
                                                    <a href="http://youtube.com/v/i85W3KPvNLo&amp;vq=hd1080&amp;rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video1Clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                                <div class="col-md-6 col-xs-12" style="margin-top: 10px">
                                                    <a href="http://youtube.com/v/mfBt6wWfyX0&amp;vq=hd1080&amp;rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video2clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12" style="margin-top: 10px">
                                                    <a href="http://youtube.com/v/Xe0PeCS-DJI&amp;vq=hd1080&amp;rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video3clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                                <div class="col-md-6 col-xs-12" style="margin-top: 10px">
                                                    <a href="http://youtube.com/v/t3NodjXZduY&amp;vq=hd1080&amp;rel=0&amp;autoplay=1" class="various iframe fancyboxplus">
                                                        <img src="/static/img/videos_img/video4clubes.png" alt="" class="img-responsive video-testimonials">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//container-->
                                    </section>
                                    <!--//testimonials-->
                                    <hr>
                                    <!-- ******Logos Section****** -->
                                    <section id="logos" class="team section">
                                        <div class="container text-center">
                                            <h2 class="title" style="margin-bottom:30px">Patrocinadores</h2>
                                            <p class="intro">Reconocemos enormemente el apoyo de nuestros patrocinadores</p>
                                            <!--//logo-list-->
                                            <ul class="logo-list list-inline last">
                                                
                                                <li class="col-md-3 col-sm-3 col-xs-6 col-centered" style="margin-top: 10px"><a href="http://www.fundacionharvard.org/" target="_blank" alt="Fundación México en Harvard">
                                                    
                                                    <img class="img-responsive" src="/media/Sponsor/image/fundacionmexicoharvard.png" alt="">
                                                    
                                                </a>
                                            </li>
                                            
                                            <li class="col-md-3 col-sm-3 col-xs-6 col-centered" style="margin-top: 10px"><a href="http://globalchallenge.mit.edu/" target="_blank" alt="MIT Ideas Global Challenge">
                                                
                                                <img class="img-responsive" src="/media/Sponsor/image/mitglobalchallenges.png" alt="">
                                                
                                            </a>
                                        </li>
                                        
                                        <li class="col-md-3 col-sm-3 col-xs-6 col-centered" style="margin-top: 10px"><a href="http://misti.mit.edu/mit-mexico" target="_blank" alt="MISTI MIT México">
                                            
                                            <img class="img-responsive" src="/media/Sponsor/image/mistimexico.png" alt="">
                                            
                                        </a>
                                    </li>
                                    
                                    <li class="col-md-3 col-sm-3 col-xs-6 col-centered" style="margin-top: 10px"><a href="http://www.gob.mx/sener" target="_blank" alt="Secretaría de Energía">
                                        
                                        <img class="img-responsive" src="/media/Sponsor/image/sener.png" alt="">
                                        
                                    </a>
                                </li>
                                
                                <li class="col-md-3 col-sm-3 col-xs-6 col-centered" style="margin-top: 10px"><a href="http://drclas.harvard.edu/" target="_blank" alt="David Rockefeller Center for Latin American Studies">
                                    
                                    <img class="img-responsive" src="/media/Sponsor/image/drclas.png" alt="">
                                    
                                </a>
                            </li>
                            
                            <li class="col-md-3 col-sm-3 col-xs-6 col-centered" style="margin-top: 10px"><a href="http://www.conacyt.mx/" target="_blank" alt="CONACYT">
                                
                                <img class="img-responsive" src="/media/Sponsor/image/conacyt.png" alt="">
                                
                            </a>
                        </li>
                        
                    </ul>
                    <!--//logos-list-->
                </div>
                <!--//container-->
            </section>
            <!--//logos-->
            <!-- ******team Section****** -->
            <section id="team" class="team section" style="background: #e9e9e9;">
                <div class="container">
                    <h2 class="title text-center" style="margin-bottom: 30px">Equipo Clubes de Ciencia México</h2>
                    <p class="intro text-center">Somos una organización compuesta por estudiantes, científicos, investigadores y profesionistas radicados en México, Estados Unidos y otras parte del mundo. Colaborando para compartir ciencia.</p>
                    <div class="row">
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/a0/a8/a0a8176248e6a2863868d76273b58f3a.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Universidad de Guanajuato</p>" alt="Ana Karen   Barajas " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Ana Karen   Barajas">
                            <p style="margin-bottom: -5px"><b>Ana Karen </b></p>
                            <p style="margin-bottom:3px"><b>Barajas </b></p>
                            <small style="font-size: 12px">Universidad de Guanajuato</small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/5e/50/5e508607c82a64fa019a64d09510155d.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p></p>" alt="Thomas   Sánchez Lengeling " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Thomas   Sánchez Lengeling">
                            <p style="margin-bottom: -5px"><b>Thomas </b></p>
                            <p style="margin-bottom:3px"><b>Sánchez Lengeling </b></p>
                            <small style="font-size: 12px">MIT Media Lab </small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/47/91/4791bfdd29a11b09f51ac515c4f39759.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Estudiante de Doctorado / Académico - Centro de Nanociencias y Nanotecnología, UNAM</p>" alt="Roberto  Vazquez Muñoz " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Roberto  Vazquez Muñoz">
                            <p style="margin-bottom: -5px"><b>Roberto</b></p>
                            <p style="margin-bottom:3px"><b>Vazquez Muñoz </b></p>
                            <small style="font-size: 12px">Centro de Nanociencias y Nanotecnología,</small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/e9/c5/e9c55bb7bbc8f154237afe5a021fdb47.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Estudiante de Postdoctorado - UCSD</p>" alt="Natalia I.   González-Pech " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Natalia I.   González-Pech">
                            <p style="margin-bottom: -5px"><b>Natalia I. </b></p>
                            <p style="margin-bottom:3px"><b>González-Pech </b></p>
                            <small style="font-size: 12px">Rice University</small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/01/9a/019a8399fa6f19d8886c66ff3d5c5422.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Estudiante de Doctorado en Ciencia y Tecnología - Centro de Investigación y Desarrollo Tecnológico en Electroquímica</p>" alt="Daniela Silem  Chávez Ramírez " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Daniela Silem  Chávez Ramírez">
                            <p style="margin-bottom: -5px"><b>Daniela Silem</b></p>
                            <p style="margin-bottom:3px"><b>Chávez Ramírez </b></p>
                            <small style="font-size: 12px">Centro de Investigación y Desarrollo Tec</small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/fa/6d/fa6d157bac7455a686e33d9d75fbe651.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Investigadora Postdoctoral - Universidad de Minnesota</p>" alt="Alejandra  Quintanilla Terminel " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Alejandra  Quintanilla Terminel">
                            <p style="margin-bottom: -5px"><b>Alejandra</b></p>
                            <p style="margin-bottom:3px"><b>Quintanilla Terminel </b></p>
                            <small style="font-size: 12px">Universidad de Minnesota</small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/cc/4c/cc4ce8f1fa133bb1214ba1c02cdb2979.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Post Doctoral Fellow - U.S. Environmental Protection Agency</p>" alt="Anne  Mikelonis " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Anne  Mikelonis">
                            <p style="margin-bottom: -5px"><b>Anne</b></p>
                            <p style="margin-bottom:3px"><b>Mikelonis </b></p>
                            <small style="font-size: 12px">U.S. Environmental Protection Agency</small>
                        </div>
                        
                        <div class="item-team text-center col-md-3 col-sm-4 col-xs-6" style="height: 280px !important;padding-left: 10px;padding-right: 10px">
                            <img src="/media/cache/ec/f6/ecf66ead1e54a34d8caa8b54e2b3d26c.jpg" data-toggle="popover" data-html="true" title="" data-placement="top" data-content="<p>Senior Attorney at The Nature Conservancy
                            Consejero Legal para CdCmx</p>" alt="Froylan   Hernandez Ruiz " class="img-responsive img-circle img-team" style="height: 200px;width: 200px;cursor: pointer" data-original-title="Froylan   Hernandez Ruiz">
                            <p style="margin-bottom: -5px"><b>Froylan </b></p>
                            <p style="margin-bottom:3px"><b>Hernandez Ruiz </b></p>
                            <small style="font-size: 12px">The Nature Conservancy</small>
                        </div>
                        
                        
                        <div class="text-center" style="clear: both;padding-top: 40px">
                            <a href="/members/" class="btn btn-cta btn-cta-primary">Conoce a todos los integrantes</a>
                        </div>
                        
                        <!--//item-->
                    </div>
                    <!--//row-->
                </div>
                <!--//container-->
            </section>
            <!--//team-section-->
            <!-- ******CTA Section****** -->
            <section id="cta-section" class="cta-section section text-center home-cta-section">
                <div class="container">
                    <h2 class="title" style="color: white !important;">¿Quieres saber más?</h2>
                    <p class="phone contact-info">
                        <span class="intro">Contáctanos</span>
                        </p><!--//phone-->
                        <p class="email contact-info">
                            <span class="info"><a href="mailto:clubesdecienciamex@gmail.com">clubesdecienciamex@gmail.com</a></span>
                            </p><!--//phone-->
                        </div>
                        <!--//container-->
                    </section>
                    <!--//cta-section-->
                    <!-- ******FOOTER****** -->
                    <footer class="footer">
                        <div class="bottom-bar" style="background: rgb(0,128,106) !important;">
                            <div class="container no-padding">
                                <ul class="social-icons list-inline">
                                    <li><a href="https://twitter.com/ClubesCienciaMx" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/clubesdecienciamx?_rdr=p" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://youtube.com/user/ClubesDeCienciaMx" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <small class="copyright text-center">Copyright @ 2016 <a href="#" target="_blank">Clubes de Ciencia México,
                                LASEN</a></small>
                                <div class="col-xs-12">
                                    <div style="width: 80%;margin: auto"><br>
                                        <p style="margin-bottom: 5px">Powered By</p>
                                        <span style="width: 70px">
                                            <img class=" img-circle" style="height: 35px; width: 35px" alt="Alex dzul" src="https://pbs.twimg.com/profile_images/690781987125141504/wqe4XSmP.png">
                                            <a href="https://twitter.com/alexjs88"><span style="color:white">Alex Dzul</span></a>
                                            <small>Backend</small>
                                        </span>
                                        <span style="width: 70px;">
                                            <img class=" img-circle" style="height: 35px; width: 35px" alt="Gaspar dzul" src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xfl1/t31.0-8/12628565_1032385600118312_8957218881238976500_o.jpg?_nc_eui=ARgxYlPR_6GCoelsuXe7EDaeXcdoijZa9k74Zl-ZHRIEj9K_ClmxKYx-Sg2t">
                                            <a href="https://twitter.com/dgaspardzul"><span style="color:white">Gaspar Dzul</span></a>
                                            <small>FrontEnd</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//container-->
                        </div>
                        <!--//bottom-bar-->
                    </footer>
                    <!--//footer-->
                    <!-- Moda convocatoria abierta-->
                    <!-- Moda convocatoria abierta instructores-->
                    <div class="modal fade" id="modalConvocatoriaInstructors" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title text-center">¡Convocatoria abierta!</h4>
                                </div>
                                <div class="modal-body">
                                    
                                    <a href="/management/edition/1/detail/?type=instructors" target="_blank">
                                        <img src="/media/edition/poster/convo.png" class="img-responsive" alt="" style="display: block;margin: auto">
                                    </a>
                                    
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            
                                            <a href="/info/instructores/" class="btn btn-primary btn-cta btn-cta-primary">Conocer más</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <!-- Moda convocatoria abierta estudiantes-->
                                <div class="modal fade" id="modalConvocatoriaStudents" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title text-center">¡Convocatoria abierta!</h4>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <a href="/management/edition/1/detail/?type=students" target="_blank">
                                                    <img src="/media/edition/poster/convo.png" class="img-responsive" alt="" style="display: block;margin: auto">
                                                </a>
                                                
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-12 text-center">
                                                        
                                                        <a href="/info/students" class="btn btn-primary btn-cta btn-cta-primary">Conocer más</a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                            <!-- Moda feedback-->
                                            <!-- Moda feedback-->
                                            <div class="modal fade" id="modalFeedback" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content" style="background:rgba(48, 56, 67, 1);color:white">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                            <h3 class="text-center"><i class="fa fa-comments"></i></h3><br>
                                                            <div class="form-group">
                                                                <h4 class="text-center" style=";margin:0;font-weight: lighter">¿Tienes algún comentario sobre esta página?, ¿algún problema?</h4>
                                                                <h4 class="text-center no-margin" style="font-weight: lighter">déjanos un mensaje para tomarlo en cuenta y darte respuesta.</h4>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="." method="post" enctype="multipart/form-data">
                                                                <input type="hidden" name="csrfmiddlewaretoken" value="8UTAqzROXaqHSdIXQJx2yXjKMvbr7miZ">
                                                                
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1" style="font-weight: lighter">De</label>
                                                                    <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label style="font-weight: lighter">Asunto:</label>
                                                                    <input type="text" id="subject" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="font-weight: lighter">Tipo:</label>
                                                                    <select name="" id="selectCategoryFeedback" class="form-control select2">
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="font-weight: lighter">Explica tu problema a detalle, los pasos a reproducir y links de la pagina involucrada</label>
                                                                    <textarea name="" id="body" cols="30" rows="10" class="form-control"></textarea>
                                                                </div>
                                                                <input type="hidden" value=" ¡Gracias! Hemos recibido tu retroalimentación, estaremos revisando lo que has enviado y te responderemos lo más pronto posible." id="msjSuccess">
                                                                <input type="hidden" value=" ¡Ups! hubo un problema al enviar tu mensaje, por favor intenta mas tarde" id="msError">
                                                                <input type="hidden" value=" Todos los campos son requeridos" id="msErroralert">
                                                                <button class="btn btn-primary pull-right" type="button" id="sendfeedback" data-loading-text="Enviando...">Enviar</button>
                                                                <p style="clear: both"></p>
                                                            </form>
                                                        </div>
                                                        </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->
                                                        <!-- Main Javascript -->
                                                        <script async="" src="//www.google-analytics.com/analytics.js"></script>

                                                        
                                                        <script type="text/javascript" src="/static/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
                                                        <script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
                                                        <script type="text/javascript" src="/static/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
                                                        <script type="text/javascript" src="/static/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
                                                        <script type="text/javascript" src="/static/assets/plugins/FitVids/jquery.fitvids.js"></script>
                                                        <script type="text/javascript" src="/static/assets/js/main.js"></script>
                                                        <script type="text/javascript" src="/static/js/DjangoAjax.js"></script>
                                                        <!-- Flexslider -->
                                                        <script type="text/javascript" src="/static/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
                                                        <script type="text/javascript" src="/static/assets/js/flexslider-custom.js"></script>
                                                        <!-- Form Validation -->
                                                        <script type="text/javascript" src="/static/assets/plugins/jquery.validate.min.js"></script>
                                                        <script type="text/javascript" src="/static/assets/js/form-validation-custom.js"></script>
                                                        <!-- Form iOS fix -->
                                                        <script type="text/javascript" src="/static/assets/plugins/isMobile/isMobile.min.js"></script>
                                                        <script type="text/javascript" src="/static/assets/js/form-mobile-fix.js"></script>
                                                        <!-- noty -->
                                                        <script type="text/javascript" src="/static/libs/notify.min.js"></script>
                                                        <!-- Swiper Scroll-->
                                                        <script type="text/javascript" src="/static/bower_components/Swiper/dist/js/swiper.min.js"></script>
                                                        <!-- fancybox plus-->
                                                        <script type="text/javascript" src="/static/bower_components/fancybox-plus/src/jquery.fancybox-plus.js"></script>
                                                        <!-- countTo -->
                                                        <script type="text/javascript" src="/static/bower_components/jquery-countTo/jquery.countTo.js"></script>
                                                        <!--vide -->
                                                        <script type="text/javascript" src="/static/bower_components/vide/dist/jquery.vide.min.js"></script>
                                                        <script type="text/javascript" src="/static/js/landing_clubes.js"></script>
                                                        <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-36716980-4', 'auto'); ga('send', 'pageview'); </script>
                                                        <script>
                                                        $(document).on('ready',function(){
                                                        //$('#home-promo').vide('http://v2.clubesdeciencia.mx/static/video/video_cdcmx'); // Non declarative initialization
                                                        });
                                                        </script>
                                                        
                                                        <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;"><i class="fa fa-angle-up"></i></div><div id="fbplus-tmp"></div><div id="fbplus-loading"><div></div></div><div id="fbplus-overlay"></div><div id="fbplus-wrap"><div id="fbplus-outer"><div class="fbplus-bg" id="fbplus-bg-n"></div><div class="fbplus-bg" id="fbplus-bg-ne"></div><div class="fbplus-bg" id="fbplus-bg-e"></div><div class="fbplus-bg" id="fbplus-bg-se"></div><div class="fbplus-bg" id="fbplus-bg-s"></div><div class="fbplus-bg" id="fbplus-bg-sw"></div><div class="fbplus-bg" id="fbplus-bg-w"></div><div class="fbplus-bg" id="fbplus-bg-nw"></div><div id="fbplus-content"></div><a id="fbplus-close"></a><div id="fbplus-title"></div><a href="javascript:;" id="fbplus-left"><span class="fancy-ico" id="fbplus-left-ico"></span></a><a href="javascript:;" id="fbplus-right"><span class="fancy-ico" id="fbplus-right-ico"></span></a></div></div><script aria-hidden="true" type="application/x-lastpass" id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script>